@import "tailwindcss";

body {
  background-image: url("./assets/images/background-img.jpg");
  background-size: cover;
}

.title-text {
  font-size: 5rem;
}

.title-subtext {
  font-size: 2.5rem;
}

.info-class,
.about-section,
.form-container {
  margin-top: 2rem;
  margin-left: 7.2rem;
  margin-right: 7.2rem;
  margin-bottom: 2rem;
  background-image: linear-gradient(to bottom, #14121b, #181623);
}

.info-grid {
  padding: 4rem;
  margin-left: 7.2rem;
  margin-top: 4rem;
}

.info-title {
  font-size: 2.5rem;
}

.info-img {
  width: 25%;
  height: auto;
  border-radius: 0.5rem;
  margin-left: 20rem;
  margin-right: 0rem;
}

.about-section {
  padding: 2rem;
}

.about-title {
  font-size: 3rem;
  margin-bottom: 1.2rem;
  font-weight: 600;
}

.about-text {
  font-size: 1.05rem;
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 7.2rem;
  margin-right: 7.2rem;
  margin-top: 2rem;
}

.form-el {
  display: flex;
  margin-bottom: 2rem;
}

.form-text {
  margin-right: 1rem;
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

.dropdown {
  background-image: linear-gradient(to bottom, #14121b, #181623);
  margin-bottom: 2rem;
}

.dropdown-label {
  display: flex;
}

.submit-button {
  margin-bottom: 2rem;
}
.dropdown-row {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.dropdown-label {
  width: 13rem;
}

.dropdown-select {
  width: 16rem; /* consistent dropdown width */
  min-width: 16rem;
  max-width: 16rem;
}

.footer {
  background-image: linear-gradient(to right, #1a1821, #181623);
  padding-bottom: 1rem;
  text-align: center;
  color: #ffffff;
}
