@import "tailwindcss";

body {
  background-image: url("./assets/images/background-img.jpg");
  background-size: cover;
  margin-bottom: 2rem;
}

.title-text {
  font-size: 5rem;
}

.title-subtext {
  font-size: 2.5rem;
}

.info-class,
.about-section {
  margin-top: 2rem;
  margin-left: 7.2rem;
  margin-right: 7.2rem;
  margin-bottom: 2rem;
  background-image: linear-gradient(to bottom, #14121b, #181623);
}

.info-grid {
  padding: 4rem;
  margin-left: 7.2rem;
  margin-top: 4rem;
}

.info-title {
  font-size: 2.5rem;
}

.info-img {
  width: 25%;
  height: auto;
  border-radius: 0.5rem;
  margin-left: 20rem;
  margin-right: 0rem;
}

.about-section {
  padding: 2rem;
}

.about-title {
  font-size: 3rem;
  margin-bottom: 1.2rem;
  font-weight: 600;
}

.about-text {
  font-size: 1.05rem;
}
